
@{
    ViewBag.Title = "View";
}

<body style="margin-left:-150px">
    <div>
        <h2 style="margin-top:50px; margin-bottom:15px">
            Book Name
        </h2>
    </div>

    <div class="dropdown-divider" style="margin-bottom:20px"></div>

    <div class=" row">
        <h4>
            # Borrows -
        </h4>

        <button type="button" class="btn btn-primary" style="">View Students</button>

    </div>

    <!--Student table-->
    <div>
        <table class="table" style="margin-top:20px">
            <thead>
                <tr style="height:80px">
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Author</th>
                    <th scope="col">Type</th>
                    <th scope="col">Page Count</th>
                    <th scope="col">Points</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>A Daughter of the Snows</td>
                    <td>London</td>
                    <td>Guide</td>
                    <td>199</td>
                    <td>84</td>
                    <td>Status</td>
                    <td>
                        <button type="button" class="btn btn-primary">View</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

