
@{ 
    ViewBag.Title = "Book Details";
 }

<body style="margin-left:-150px">
    <div>
        <h2 style="margin-top:50px; margin-bottom:15px">
            Book Name
        </h2>
    </div>

    <div class="dropdown-divider" style="margin-bottom:20px"></div>

    <div class=" row">
        <h4>
            # Borrows -
        </h4>

        <!-- <button type="button" class="btn btn-primary" style="position:absolute; right:480px">View Students</button> -->

        @Html.ActionLink("View Students", "Students", "Students", null, new { @class = "btn btn-primary", @style = "position:absolute; right:480px" })

    </div>

    <!--Student table-->
    <div>
        <table class="table" style="margin-top:20px">
            <thead>
                <tr style="height:80px">
                    <th scope="col">#</th>
                    <th scope="col">Taken Date</th>
                    <th scope="col">Brought Date</th>
                    <th scope="col">Borrowed By</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>


